<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKYTB3C-iaq5F0z5j0S-MzlIOkEeOyPfs</string>
	<key>GCM_SENDER_ID</key>
	<string>698643338967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cotruck.operator</string>
	<key>PROJECT_ID</key>
	<string>cotruck-operator-bfb78</string>
	<key>STORAGE_BUCKET</key>
	<string>cotruck-operator-bfb78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698643338967:ios:84a38acf9a256dfd07c292</string>
</dict>
</plist>